@import 'reset';
@import 'themes/dark';
@import 'themes/default';
@import 'variables/global';
@import 'themes/crimson';

body {
	font: var(--font-m);
	color: var(--primary-color);
}

.app {
	background: var(--bg-color);
	min-height: 100dvh;
}

.content_page {
	display: flex;
}


*::-webkit-scrollbar {
	width: 12px;
	height: 10px;
}

*::-webkit-scrollbar-track {
	background: var(--card-bg);
}


*::-webkit-scrollbar-thumb {
	background-color: var(--inverted-primary-color);
	border: 2px solid var(--primary-color);
}