@import 'reset';
@import 'themes/dark';
@import 'themes/default';
@import 'variables/global';
@import 'themes/crimson';

body {
	font: var(--font-m);
	color: var(--primary-color);
}

.app {
	background: var(--bg-color);
	min-height: 100dvh;
}

.content_page {
	display: flex;
}

.page_wrapper {
	flex-grow: 1;
	padding: 20px;
	height: calc(100dvh - var(--navbar-height));
	overflow-y: auto;
	width: 100%;
}