*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*::before,*::after{
	box-sizing: border-box;
}

:focus,:active{outline: none;}


input,
button,
textarea,
select {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
}

a, a:visited{text-decoration: none;}
a:focus,a:active{outline: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}

/* ____________________ */
