
.views {
  display: flex;
  gap: 10px;
  align-items: center;
}

.TEMPLATE {
  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 8px;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin-top: 8px;
  }

  .img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin-top: 16px;
  }

  .footer {
    display: flex;
    align-items: center;
    margin-top: 16px;
    justify-content: space-between;
  }

  .textBlock {
    margin-top: 16px;
    max-height: 200px;
    overflow-y: hidden;
  }
}

.GRID {
  transition: 0.3s;
  cursor: pointer;

  .date {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  .imgWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
    justify-content: space-between;
  }

  .category p {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title {
    margin-top: 8px;
  }

  .title p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ArticleListItemRedesigned {
  &.TEMPLATE {
    width: 100%;
  }

  &.GRID {    
    .card {
      overflow: hidden;
      width: 220px;
      height: 330px;
    }

    .infoWrapper, .title {
      margin-left: 8px;
    }
  }
}