.app_crimson_theme {
  --bg-color: #570101;
  --inverted-bg-color: #FBF4F4;
  --primary-color: #fb0404;
  --secondary-color: #dedede;
  --inverted-primary-color: #960d00;
  --inverted-secondary-color: #5E0A03;

  // skeleton
  --skeleton-color: #c30101;
  --skeleton-shadow: rgba(255 0 0 / 35%);


  // code
  --code-bg: #3d0000;

    // card 
    --card-bg:#8e0000;
}