.app_dark_theme {
  --bg-color: #0b0085;
  --inverted-bg-color: #b6b6b6;
  --primary-color: #1df31d;
  --secondary-color: #0bb150;
  --inverted-primary-color: #002db5;
  --inverted-secondary-color: #0449e0;

  // skeleton
  --skeleton-color: #1c08f2;
  --skeleton-shadow: rgba(2 14 14 / 25%);

  // code
  --code-bg: #000e3a;

  // card 
  --card-bg: #2114b5;

  // listbox
  --listbox-bg: #2114b5;

  // redesigned
  --dark-bg-redesigned: #090F11;
  --bg-redesigned: #0C1214;
  --light-bg-redesigned: #151C1F;
  --text-redesigned: #DBDBDB;
  --hint-redesigned: #5555;
  --cancel-redesigned: #D95757;
  --save-redesigned: #6CD98B;
  --icon-redesigned: #74A2B2;
  --accent-redesigned: #5ED3F3;
}