.app.light {
  --bg-color: #b6b6b6;
  --inverted-bg-color: #1100BC;
  --primary-color: #1100BC;
  --secondary-color: #0449e0;
  --inverted-primary-color: white;
  --inverted-secondary-color: orange;
}