.Navbar {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  background-color: var(--inverted-bg-color);
}

.navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.links, .dropdown {
  margin-left: auto;
  padding-right: 16px;
}

.appName {
  padding-left: 40px;
  width: var(--sidebar-width);
}