.Navbar {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  background-color: var(--inverted-bg-color);
}

.navigation {
  display: flex;
  align-items: center;

  //  justify-content: space-between;
  flex-grow: 1;
}

.links {
  margin-left: auto;
}

.appName {
  padding-left: 40px;
  width: var(--sidebar-width);
}